@{
    ViewData["Title"] = "Créditos";

    //Realizado por Diogo Santos Teixeira e Guilherme Ferreira Santos
}

<div>
    <h1>Créditos</h1>
    <br/>
        <h4>Realizado por:</h4>
        <ul>
            <li>Diogo Santos Teixeira</li>
            <li>Guilherme Ferreira Santos</li>
        </ul>
            
</div>
